<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>

        <title>Logistics_company</title>
        <link th:href = "@{/css/main.css}" rel="stylesheet"></link>
        <script th:src = "@{/css/actions.js}" ></script> 
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css"/>
    </head>

    <body>
        <div style="text-align:center;">
            <h2>Driver Options</h2></div>

        <pre>
            
        






        </pre>



        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <a th:href="@{/LogisticsCompany/driver/{id}/info(id = ${id})}">
                        <button type="button" class="btn btn-primary btn-lg btn-block"> Show Driver Information</button>
                    </a> 
                </div>
                <div class="col-sm"></div>
                <div class="col-sm">
                    <a th:href="@{/LogisticsCompany/driver/{id}/updateorder(id = ${id})}">
                        <button type="button" class="btn btn-primary btn-lg btn-block"> Change Order Status </button>
                    </a> 
                </div>
                <div class="col-sm">
                    <a th:href="@{/LogisticsCompany/driver/{id}/updateworkinghours(id = ${id})}">
                        <button type="button" class="btn btn-primary btn-lg btn-block"> Update Working Time</button>
                    </a> 
                </div>
            </div>
            <pre>
            
        

            </pre>
            <a href="http://localhost:8080/LogisticsCompany/driver">
                <button type="button" class="btn btn-info btn-lg btn-block"> Return to driver identification</button>
            </a> 
        </div>
    </body>
</html>

