h2{
    font:Montserrat;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}

strong{
    font-weight: 700;
    background-color: blue;
}

p {
    font-family: sans-serif;
}
